*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/yo\ coorporativo\ sin\ logo.png");
  opacity: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

/* Mis trabajos */

#Experiencia .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  }

  #Portafolio .image-top {
    height: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    }

.grilla{

  padding: 0 40px;

}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

.row {
  justify-content: center;
}

a:visited {
  color: inherit; 
  text-decoration: none;
}
a {
  color: #fff;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
    }

  }

  .reservados {
    margin: 8px;
    padding: 8px;
  }

  .listados {
  align-items: start;
  padding: 0;
  list-style-type: none;
  
  

  }